@media only screen and (min-width:32em){
    h1{
      font-size: 3rem;
    } 
    h2{
      font-size: 2rem;
    }
      header img {
            margin-top: 5px;
            margin-right: 5px;
            float: right;
            border: rgb(255, 255, 255);
            max-width: 200px;
            height: auto;
            border-radius: 15px;
            box-shadow: 8px 8px 8px #444;
        }
      header, footer {
        border-radius: 15px;
      }
    }
    