@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Zilla+Slab:wght@300&display=swap');
        body {
            background-image: url(https://1.bp.blogspot.com/-BfPWaKiafGk/XmRjkhMiFbI/AAAAAAAAPL8/S-Nh_CGI-Mgxc4SSY9L6uTophTTn3UFjQCLcBGAsYHQ/s320/IMG_0023.JPG);
            background-attachment: fixed;
            background-color: #ffbac5;
        }
        
        header,
        main,
        footer {
            max-width: 800px;
            margin: 0 auto;
        }
        
        header {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e26668;
            border: double 5px white;
            border-radius: 20px;
        }
        
        .heading-img {
            width: 150px;
            height: auto;
            margin-left: 50px;
            position: absolute;
            border: double 5px white;
            border-radius: 20px;
        }

        main {
            margin-top: 10px;
            background: #a0ca92;
            border: double 5px white;
            border-radius: 20px;
        }

        h1 {
            font-size: 2.5em;
            font-family: 'Libre Baskerville', serif;
            text-align: left;
        }
        
        h2 {
            font-size: 1.5em;
            font-family: 'Libre Baskerville', serif;
            margin: 20px;
        }
        
        ul {
            font-size: 1.2em;
            font-family: 'Zilla Slab', serif;
            margin: 20px;
        }
        
        footer {
            margin-top: 10px;
            padding: 5px;
            font-size: 1.2em;
            font-family: 'Zilla Slab', serif;
            text-align: center;
            background: #a0ca92;
            border: double 5px white;
            border-radius: 20px;
        }