@media only screen and (min-width: 64rem) {   
  body {
    max-width: 630px;
    margin: 0 auto;
    line-height: 1.5;
  }
    nav button {
      display: none;
    }
    H2{
      font-size: 2rem;
    }
    nav ul{
      margin-left: 2%;
    }
    nav ul li a {
      border-right: 1px solid #1a357c;  
      padding: .6rem 1rem;
      display: inline-block;
  }  
    nav ul .hide{
   display: block ;
   }
    .logo {
      width: 10rem;
      margin-bottom: 0;
    }
  }