@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:ital,wght@0,400;1,500&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color: #011C26;
}

main,
footer {
  font-family: 'Roboto', sans-serif;
}
html{
    background-image: 
    -webkit-gradient(linear,left top,left bottom,color-stop(9%,#1a357c)
    ,to(#99479b));
   
}
header,
footer {
 
  color: #fff;
  text-align: center;
}

nav {
  background-color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  color: #1a357c;
  border: 1px solid #1a357c;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  background-color: #4494A6;
  color: #1a357c ;
}
main {
	display: grid;
	grid-template-columns: 1fr;
    font-size: 1rem;
  
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin: 0;
}

h2 {
    color:  #fff;
    font-size: 1.25rem;
}

h3 {
  font-size: .9rem;
  margin: 10px;
  color:  #fff;
}

p {
  margin: 5px;
  color:  #fff;
}
.TA{
    text-align: justify;
}
footer a {
  color: #fff;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

header {
  padding-bottom: 10px;
}

footer {

    border-style: solid;
    border-bottom: 0px;
    border-color: #1a357c;
    padding: 20px;
}

footer p:last-child {
  margin-bottom: 0;
}
.Roboto {
font-family: 'Roboto', sans-serif;
font-size: 20px;}
.Playfair {
font-family: 'Playfair Display', serif;
font-size: 20px;
}
td {
border: 2px solid  #1a357c;
text-align: center;
padding: 10px;
}
table{
    margin-top: 40px;
    width: 100%;
  border-collapse: collapse;
}
main img{
  margin-top: 20px;
}

.back{
  text-align: left;
  padding: 5px;
  padding-left: 15px;
}
.back a{
  color: #fff;
  text-decoration: none;
}
footer.Tipo{
    margin-top: 60px;
}
th{
    color: #fff;  
}

